



<div class="homepage">
  <h2 style= "text-align: center;">Welcome to Pet Finder</h2>
  <p style="font-size: 30px;">
    Pet Findr is a full stack application created to help owners track and organize the journey through life for their pets. The inspiration of this project started with recognizing the roles that our pets uphold in the lives of their humans.


  </p>
</div>